{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ app.user.username }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ app.user.lastName }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ app.user.firstName }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ app.user.telephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <th>Campus</th>
            <td>{{ app.user.campus }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
